
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>

<main>
  <section class="py-5 text-center container">
      <img class="img-fluid" src="<%= asset_path('drmasi.jpg') %>"/>
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Cabinet d'orthodontie Saint Louis</h1>
        <p class="lead text-muted">Site en construction</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Prendre RDV</a>
        </p>
    </div>
  </section>
</main>
